@import './mixins';
@import './variables';

.navbar{
    background-color: rgba(0, 0, 0, 0.800);
    position: fixed;
    @include justify-content(center);
    width: 100%;
    height: 15vh;
    z-index: 10;

    .navbar-cont{
        @include justify-content(space-between);
        width: 70%;
        padding: 1rem 0;
        
        .logo{
            height: clamp(4rem, 10vh, 5rem);
            cursor: pointer;
        }
        .navbar-links{
            width: 40%;
            @include justify-content(space-between);
            flex-wrap: nowrap;
            & a{
                flex-shrink: 0;
                text-decoration: none;
                color: white;
                font-weight: 600;
                font-size: clamp(.7rem, 1vw, 1rem);
            }
        }
        .menu-btn{
            display: none;
            color: white;
            font-size: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .navbar{
        .navbar-cont{
            width: 90%;

            .logo{
                height: 3rem;
            }
            .navbar-links{
                display: none;
            }
            .menu-btn{
                display: unset;
            }
        }
    }
    .sidenav{
        height: 100vh;
        background-color: black;
        width: 100vw;
        color: white;
        position: fixed;
        z-index: 11;

        .close-nav{
            font-size: 2.5rem;
            margin: 1.5rem 1rem;
            @include justify-content-no-align(flex-end);
        }
        .sidenav-links{
            @include flex-direction(column);
            align-items: center;

            & a{
                color: white;
                font-size: 1.5rem;
                margin: 5vh 0;
            }
        }
        .sidenav-socials{
            width: 100%;
            margin-top: 10vh;
            @include justify-content(center);
            
            & div{
                width: 80%;
                @include justify-content(space-between);
                .socials{
                    font-size: 1.5rem;
                    border: 1px solid white;
                    padding: 1rem;
                    border-radius: 1rem;
                    transition: $allTransition;

                    &:hover{
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}